
<section id="section1">
   
        <div class="row">
            <div class="section-header">
                <h1 style="color: #19717a">Thông tin hành khách</h1>
            </div>
            <div class="col-sm-4 col-margin">
                <div class="form-group">
                    <label>Danh xưng</label>
                    <input type="text" id="LastName" placeholder="Danh xưng">
                </div>
            </div>
            <div class="col-sm-4 col-margin">
                <div class="form-group">
                    <label>Họ</label>
                    <input type="text" id="LastName" placeholder="Họ">
                </div>
            </div>
            <div class="col-sm-4 col-margin">
                <div class="form-group">
                    <label>Tên đệm và Tên</label>
                    <input type="text" id="LastName" placeholder="Tên đệm và Tên">
                </div>
            </div>
            <div class="col-sm-4 col-margin">
                <div class="form-group">
                    <label>Chứng minh nhân dân</label>
                    <input type="text" id="LastName" placeholder="Chứng minh nhân dân">
                </div>
            </div>
            <div class="col-sm-4 col-margin">
                <div class="form-group">
                    <label>Số điện thoại</label>
                    <input type="text" id="LastName" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="col-sm-4 col-margin">
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" id="LastName" placeholder="Địa chỉ">
                </div>
            </div>
            <div class="row-btn">
                <a href="/payment" class="btn green btn-right">Tiếp tục</a> 
            </div>
            
        </div>
    
</section>


<script src="/js/controlPerson.js"></script>
